<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
     <link rel='stylesheet' href='/styles.css'>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <div class="container">
      <h1>Update the {{ cuisine.getType }} cuisine</h1>
        <form action="/cuisines/{{ cuisine.getId }}" method="post">
          <input name="_method" type="hidden" value="patch">

          <label for="type">Rename this cuisine:</label>
          <input id="type" name="type" type="text">

          <button type="submit">Update</button>
        </form>

        <form action="/cuisines/{{ cuisine.getId }}" method="post">
          <input name="_method" type="hidden" value="delete">

          <button type="submit">Delete this cuisine</button>
        </form>
    </div>

  </body>
</html>
