<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/styles.css'>
    <title>Home</title>
</head>
<body>
  <div class="container">
      <h1>Restaurant Directory</h1>

      <h4><a href="/cuisines">Click here</a> to see all of the cuisines.</h4>

  </div>


</body>
</html>
