<html>
<head>
    <title></title>
</head>
<body>
  <h1>Restaurant Directory</h1>
  <p>Add a Cuisine Category</p>
  <form action="/cuisines" method="post">
    <label for="type">Cuisine Type:</label>
    <input name="type" type="text">
    <button type="submit">Add Cuisine</button>
  </form>

</body>
</html>
